* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}

.loader {
	position: relative;
	width: 700px;
	height: 700px;
	border-radius: 0%;
	overflow: hidden;
	transform: rotate(175deg);
}

.loader span {
	position: absolute;
	top: calc(5px * var(--i));
	left: calc(5px * var(--i));
	right: calc(5px * var(--i));
	bottom: calc(5px * var(--i));
	border: 15px solid #0b0b0b;
	border-top: 15px solid #0f0;
	border-left: 15px solid #0f0;
	border-radius: 50%;
	animation: animate 2s alternate ease-in-out infinite;
	filter: hue-rotate(calc(40deg * var(--i)));
	animation-delay: calc(-0.1s * var(--i));
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(90deg);
	}
}

.audio {
	position: absolute;
	top: 20px;
	right: 10px;
}
