@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	background: #f77a15;
	display: flex;
}

.container .imgBx {
	position: relative;
	width: 450px;
	height: 100%;
	background: url(christmas.jpg);
	background-size: cover;
}

.container .countdownBx {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: calc(100% - 450px);
}

.container .countdownBx h2 {
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 500;
	line-height: 4em;
}

.container .countdownBx h2 span {
	font-size: 6em;
	font-weight: 700;
}

.container .countdownBx h2 span i {
	font-style: initial;
	color: rgb(0, 119, 255);
}

.container .countdownBx .countdown {
	margin-top: 30px;
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .countdownBx .countdown div {
	position: relative;
	width: 100px;
	text-align: center;
	color: #fff;
	font-style: 2.5em;
	font-size: 1.5em;
	font-weight: 500;
	margin: 0 15px;
	margin-top: -25px;
}

.container .countdownBx .countdown div::before {
	content: "text";
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 100%;
	height: 35px;
	color: #fff;
	font-size: 0.35em;
	font-weight: 500;
	line-height: 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.container .countdownBx .countdown div#day::before {
	content: "Days";
}

.container .countdownBx .countdown div#hour::before {
	content: "hours";
}

.container .countdownBx .countdown div#minute::before {
	content: "minutes";
}

.container .countdownBx .countdown div#second::before {
	content: "seconds";
}

.container .countdownBx .countdown div#second {
	color: rgb(0, 119, 255);
}

@media (max-width: 991px) {
	.container .imgBx {
		display: none;
	}

	.container .countdownBx {
		width: 100%;
	}
}

@media (max-width: 600px) {
	.container .countdownBx h2 {
		font-size: 1.1em;
	}

	.container .countdownBx .countdown {
		height: 100px;
	}

	.container .countdownBx .countdown div {
		position: relative;
		width: 80px;
		text-align: center;
		color: #fff;
		font-size: 2em;
		font-weight: 500;
		margin: 0;
		margin-top: -25px;
	}
}
